<mat-card id="about-card">
    <h1>
        About
    </h1>
    <mat-card-content>
      The Chuch of Napism is a organization founded on the belief in the Holy Nap.
      The Holy Nap stems from the four sleepy truths (see below). The path to the eternal Holy Nap is what we seek to help all achieve.
    </mat-card-content>
</mat-card>
<mat-list>
    <mat-list-item>1. Waking is suffering</mat-list-item>
    <mat-list-item>2. Suffering is caused by awakeness </mat-list-item>
    <mat-list-item>3. There is an end to this suffering </mat-list-item>
    <mat-list-item>4. Sleep is a distinct path to this end </mat-list-item>
</mat-list>