#home-header-card {
    text-align: center;
    margin: 10px;
}
#home-slogan {
    margin-top: 100px;
    text-align: center;
    color: white;
}
#home-prayer {
    color: white;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    
    h2 {
        text-align: center;
    }
}